<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/css/documentation.css"/>
    <meta charset="UTF-8">
    <title>Documentation</title>
</head>
<body>

<ul class="navbar">
    <li><a href="http://127.0.0.1:5000/">Beehive Node Dashboard</a></li>
    <li><a href="http://127.0.0.1:5000/server">Beehive Server Dashboard</a></li>
    <li><a href='http://127.0.0.1:5000/documentation'>Documentation</a></li>
    <li><a href='http://127.0.0.1:4000'>Beehive API</a></li>
</ul>

<h1 style="border-bottom-style: solid; margin-top: 40px;">
    <img src="/static/img/logo.png" alt="Smiley face" align="left">
    Documentation</h1>

<h3>Node Dashboard</h3>
<ol>
    <li>Node ID - A binary id number associated with a single node. </li>
    <li>Location - The approximate location of each node.</li>
    <li>Status - The current operational status of each node.</li>
    <li>Last Update - A timestamp of the last received update from each node.</li>
</ol>
<h3>Server Dashboard</h3>
<ol>
    <li>Uptime Area Chart - A stacked area chart depicting the percentage of nodes on the beehive server
        currently in each uptime category at a given time.</li>
</ol>

</body>
</html>