body {
    background-color: #605F59;
}

table {
    width: 100%;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
table, td, th{
    border: 1px solid #071013;
}
th {
    color: #FFFFFF;
    background-color: #071013;
    text-align: left;
}

tr:hover{background-color:#ffffff}
ul li:hover{color: #F7C767}
ul li a:hover{color: #F7C767}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #071013;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

ol li {
    list-style-type: none;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    width: 35px;
}
