body {
    background-color: #F7C767;
}

table {
    width: 945px;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
table, td, th{
    border: 1px solid black;
}
th {
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
}

tr:hover{background-color:#D58936}

ul li a:hover{color:#F7C767}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a:hover{color:#D58936}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #090F0F;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
img {
    display: block;
    margin: auto;
    width: 35px;
}

div {
    display: block;
    margin: auto;
    padding: none;
}

#buttonlist button {
    width: 131px;
    display: inline-block;
    margin-top: -40px;
    border: 2px solid #090F0F;
    padding: 10px;
    outline: none;
    vertical-align: top;
}

#buttonlist button:hover {
    border: 3px solid #090F0F;
}

#buttonlist button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

svg {
    display: block;
}

#topgrid {
    height: 500px;
}

#serverlog {
    border-collapse: collapse;
    position: absolute;
    left: 970px;
    top: 225px;
    width: 200px;
}

#tbody1 {
    display: table;
    width: 100%;
    display: block;
    height: 413px;
    overflow-y: auto;
}

#logcontainer {
}

#serverlog td {
    border: none;
}

#loghead {
    width: 200px;
}
