{% extends "layout.html" %}
{% block content %}
  <div class="docs">
    <h2>Documentation</h2>
    <p>In the future there will be information about the Beehive Network
      and The Waggle Project Here.</p>
  </div>
  <ul class="docslist">
    <li>Node ID - blah blah blah</li>
    <li>Location - blah blah blah</li>
    <li>Status - blah blah blah</li>
    <li>Item 4 - blah blah blah</li>
    <li>Item 5 - blah blah blah</li>
    <li>Item 6 - blah blah blah</li>
    <li>Item 7 - blah blah blah</li>
    <li>Item 8 - blah blah blah</li>
  </ul>
{% endblock %}